.header {
    padding: 52px 150px;
    width: 100%;
    position: absolute;
}

@media (max-width: 768px) {
    .header {
        padding: 45px 35px;
    }
}

@media (max-width: 576px) {
    .header {
        padding: 35px 10px;

    }
}